# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets: ['{{ alertmanager_host }}:{{ alertmanager_port }}']

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
{% if alertmanager_enable_host_down_alert is true %}
  - 'alerting.rules.yml'
{% endif %}
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  ## Host Monitoring
  - job_name: "Host Monitoring"
    static_configs:
{% for host in hostvars|sort %}
{% if hostvars[host].prometheus_monitored is not false %}
      - targets: ['{{ host }}:{{ hostvars[host].prometheus_port | default(9100) }}']
        labels:
          hostname: '{{ host }}'
{% if hostvars[host].prometheus_env is defined %}
          env: '{{ hostvars[host].prometheus_env }}'
{% endif %}
{% endif %}
{% endfor %}

  ## Host Monitoring
  - job_name: "Additional Monitoring"
    file_sd_configs:
      - files:
        - /etc/prometheus/targets/*.yml
